body
{
background-color: aquamarine;
}
/*******************Tag Selectors*****************/
h1{color:red;
    font-size:100px ;
}

img:hover
{
    background-color: rgb(191, 217, 240);
}
/*******************class selectors***************/
.bacon{
    background-color: green;
}
.brocoli{
    background-color: red;
}
/******************?*ID selectors***************/
#heading{
    color: blue;
}
